APScheduler==3.11.0
Flask==3.1.0
flask-cors==5.0.1
flask-sqlalchemy==3.1.1
flask-pymongo==2.3.0
pymongo[srv]==4.6.1
mysqlclient==2.2.0
python-dotenv==1.1.0
schedule==1.2.2
selenium==4.31.0
webdriver-manager==4.0.2
requests==2.31.0
beautifulsoup4==4.12.2
lxml==4.9.3